#not-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    width: 100%;
    font-size: large;
    height: 100%;
}

#not-sign-in #not-sign-in-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#not-sign-in #not-sign-in-content svg {
    color: #25274d;
    font-size: 40px;
}

.file {
    display: none;
}

#video {
    margin-top: 6%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-bar {
    margin-top: 15px;
    background-color: #adadad;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row
}

.time-bar {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.select-bar {
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.process-bar {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.button {
    height: 40px;
    width: 140px;
    background-color: #2e9cca;
    font-weight: bold;
    font-size: large;
    transition: 0.1s ease-in-out;
    outline: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(37, 39, 77, 0.1444);
    overflow: hidden;
}

.disabled-button {
    height: 40px;
    width: 140px;
    background-color: #697780;
    font-weight: bold;
    font-size: large;
    transition: 0.1s ease-in-out;
    outline: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(37, 39, 77, 0.1444);
    overflow: hidden;
}

.button:hover {
    box-shadow: 0 0 0 4px rgba(46, 156, 202, 0.38);
    cursor: pointer;
}

.button a{
    color: #fff;
    text-decoration: none;
}

.time-string {
    height: 33%;
    text-align: center;
    margin-top: 4%;
    font-size: 30px;
    padding-left: 10%;
    display: flex;
}

.process-wrap{
    padding-top: 15%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.ring{
    height: 60px;
}

.next-button{
    position: relative;
    left: 13%;
    top: 8%;
    border: 3px solid #095316;
    text-align: center;
    color: white;
    background-color: #adadad;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    width: 20%;
}
